--extra-index-url https://download.pytorch.org/whl/cu126

streamlit
langchain-core
langgraph-checkpoint-sqlite
langgraph
langchain-huggingface
langchain-community
langsmith

python-dotenv
huggingface-hub
transformers
accelerate
bitsandbytes

torch
torchvision

# Tool specific need
ddgs # DuckDuckGoSearch